<div class="px-3 w-100 h-100 overflow-hidden overflow-y-scroll">
  <p-panelMenu [multiple]="true" styleClass="" [model]="tasksmenu">
    <ng-template pTemplate="item" let-item>
      <div class="d-flex flex-column ">
        <!-- <pre>{{item | keyValuePrinter}}</pre> -->
        <span>comando: {{item.command || 'sem comandos'}}</span>
        <span>ult exec: {{item.lastexec || 'sem execuções'}}</span>
        <span>time: {{item.time_cron || 'sem timecron'}}</span>
        <!-- <span>status: {{item.task.running ? 'rodando': 'parado'}}</span> -->
        <app-button-canva (button-click)="handleClick($event, item.map)" [task]="item"></app-button-canva>
      </div>
    </ng-template>
  </p-panelMenu>
</div>
<!-- <app-modal (forms-submit)="handleClick($event.mode, $event.task)" [visible]="modalstatus" [task]="selectedTask"></app-modal> -->