<div class="bg-white rounded p-3 w-100 mt-5">
    <h1 class="fst-italic text-center">{{tittle}}</h1>
    <hr>
    <form #forms="ngForm" class="d-flex flex-column w-100 py-4 container" (ngSubmit)="submitForm(forms)">
        <div class="row">
            <div class="col-6 d-flex justify-content-end align-items-end">
                <span class="p-float-label col-md-6 col-12">
                    <input pInputText class="input-group rounded p-3 w-100" id="nome" name="nome" type="text" required
                        [value]="preset_input?.name" [ngModel]="preset_input?.name" />
                    <label for="nome" class="px-3">
                        {{preset_input?.name || 'nome'}}
                    </label>
                </span>
            </div>
            <div class="col-6 d-flex justify-content-start align-items-start">
                <span class="p-float-label col-md-6 col-12">
                    <input [value]="preset_input?.time" pInputText class="input-group rounded p-3 w-100" id="tempo"
                        name="tempo" type="text" required [ngModel]="preset_input?.time" />
                    <label for="tempo" class="px-3">{{preset_input?.time || 'tempo'}}</label>
                </span>
            </div>
        </div>
        <div class="d-flex align-content-center justify-content-center mb-4">
            <span class="p-float-label mt-4 col-md-6 col-12">
                <input pInputText class="input-group rounded p-3 w-100" id="comando" name="comando" type="text" required
                    [value]="preset_input?.command" [ngModel]="preset_input?.command" />
                <label for="comando" class="px-3">
                    {{preset_input?.command || 'comando'}}
                </label>
            </span>
        </div>
        <div class="d-flex align-items-end justify-content-end">
            <p-button icon="pi pi-check" type="submit"
                styleClass="btn rounded text-white btn-success d-flex align-items-center justify-content-centers " />
        </div>
    </form>
</div>