<div class="w-100 h-100"
    style="background: linear-gradient(to right bottom, rgb(117, 115, 115) , rgb(241, 237, 237) );">
    <p-toast />

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-4 h-100 p-0 bg-white rounded">
                <div class="w-100 h-100" style="background: linear-gradient(to left top, gray, rgb(77, 76, 76));">
                    <app-side-bar (task-handle)="makeaction($event)" [tasksmenu]="menutasks"
                        [tasks]="tasks"></app-side-bar>
                </div>
            </div>
            <div class="col-8">
                <app-forms-cad (forms-submit)="createTask($event)" tittle="Cadastro de tarefas"></app-forms-cad>
            </div>
        </div>
    </div>
</div>