<div class="d-flex p-3 w-100 gap-2 justify-content-center align-items-center">
  <p-toast />
  <p-confirmPopup />
  <p-button icon="pi pi-caret-right"
    styleClass="btn rounded btn-success d-flex align-items-center justify-content-centers"
    (onClick)="confirm($event,buttonsactions.RUN)" />
  <p-button icon="pi pi-trash" styleClass="btn rounded btn-danger d-flex align-items-center justify-content-centers"
    (onClick)="confirm($event,buttonsactions.DELETE)" />
  <p-button icon="pi pi-pencil" styleClass="btn rounded btn-primary d-flex align-items-center justify-content-centers "
    (onClick)="confirm($event,buttonsactions.UPDATE)" />
  <p-button id="switchmode" icon="pi pi-circle-off"
    styleClass="btn rounded text-white btn-warning d-flex align-items-center justify-content-centers "
    (onClick)="confirm($event,buttonsactions.SWITCHSTATUS)" />

</div>