<p-toast>remover</p-toast>

<h1 class="w-100 text-success text-center">Tasks</h1>
<hr class="text-success">
<div class="row">
    <div class="mt-3 col-6 col-md-4 position-relative" *ngFor="let task of tasks; trackBy: trackByFn">
        <div class="rounded position-relative col-12 bg-white shadow-lg p-3 h-100">
            <div class="d-flex flex-column">
                <span class="responsive_font text-break"><strong>id:</strong> {{task.id_task}}</span><span
                    class="responsive_font text-break"><strong>nome:</strong> {{task.nome}}</span>
                <span class="responsive_font text-break"><strong>comando:</strong>
                    {{task.command}}</span>
                <span class="responsive_font"><strong>ultima_Exe:</strong> {{task.last_exec}}</span>
                <span class="responsive_font"><strong>cron: </strong>{{task.time_cron}}</span>
            </div>
            <br>
            <div class="position-absolute bottom-0 start-0 w-100 d-flex justify-content-end align-items-end">
                <button (click)="executeTask(task)" pRipple
                    class="btn btn-group btn-success text-white pi pi-play"></button>
                <button (click)="openModal(task)" pRipple
                    class="btn btn-group btn-secondary pi pi-info-circle"></button>
                <button pRipple class="btn btn-group btn-danger pi pi-trash" (click)="deleteTask(task)"
                    styleClass="p-button-secondary"></button>
            </div>
        </div>
    </div>
</div>

<app-modal #modal></app-modal>
<app-modal-execute-load #load> </app-modal-execute-load>